<div class="product__smallCard">
  <img
    src="https://rukminim2.flixcart.com/flap/64/64/image/22fddf3c7da4c4f4.png?q=100"
    alt=""
  />
  <p>Mobiles</p>
</div>
<div class="product__smallCard hover__content">
  <img
    src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/0d75b34f7d8fbcb3.png?q=100"
    alt=""
  />
  <p class="hover__content__btn">
    Fashion <img src="src/arrow_up.svg" alt="" class="arrow svg" />
  </p>
  <ul class="list hover__content__list">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
  </ul>
</div>
